.row {
  --bs-gutter-x: 0;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 65px;
}

.paginator-container>.btn {
  color: #fff;
  margin: 10px;
  outline: none;
  box-shadow: none;
}

.container-input {
  width: 30%;
  margin: auto;
  margin-top: 50px;
}

small {
  margin-top: 15px;
}

.container-notResult {
  text-align: center;
  margin-top: 100px;
}