<div class="container">
    <div class="container-items">
        <h1 class="home-title">Rick & Morty</h1>
        <p class="text">Sé que esta situación puede ser intimidante. Miras a tu alrededor y todo da miedo y es diferente, pero ¿sabes qué?
          ... hay que encarar esas situaciones, avanzar contra ellas como un toro - es así que crecemos como personas.</p>
          <hr style="color: #fff">
        <a class="btn btn-danger btn-sm" routerLink='personajes/listado'>Listado de personajes</a>
    </div>
</div>
